version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "4001:4001"
    environment:
      - MONGO_URI=mongodb://mongo:27017/school
      - JWT_SECRET=school_secret_key
    depends_on:
      - mongodb
    volumes:
    - ./uploads:/app/uploads

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "4000:4000"
    environment:
      - AUTH_SERVICE_URL=http://auth-service:4001
    depends_on:
      - auth-service

  exam-service:
    build: ./exam-service
    ports:
      - "4002:4002"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/school
      - JWT_SECRET=school_secret_key
    depends_on:
      - mongodb
    
volumes:
  mongo-data:
