version: "3.9"

services:
  auth-service:
    build: ./auth-service
    ports:
      - "4001:4001"
    env_file:
      - .env

  exam-service:
    build: ./exam-service
    ports:
      - "4002:4002"
    env_file:
      - .env

  homework-service:
    build: ./homework-service
    ports:
      - "4003:4003"
    env_file:
      - .env

  api-gateway:
    build: ./api-gateway
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - auth-service
      - exam-service
      - homework-service
