version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  auth-service:
    build: ./auth-service
    ports:
      - "4001:4001"
    environment:
      - MONGO_URI=mongodb://mongo:27017/school
      - JWT_SECRET=school_secret_key
    depends_on:
      - mongodb

  exam-service:
    build: ./exam-service
    ports:
      - "4002:4002"
    environment:
      - MONGO_URI=mongodb://mongo:27017/school
      - JWT_SECRET=school_secret_key
    depends_on:
      - mongodb

  homework-service:
    build: ./homework-service
    ports:
      - "4003:4003"
    environment:
      - MONGO_URI=mongodb://mongo:27017/school
      - JWT_SECRET=school_secret_key
    depends_on:
      - mongodb

  api-gateway:
    build: ./api-gateway
    ports:
      - "4000:4000"
    depends_on:
      - auth-service
      - exam-service
      - homework-service

volumes:
  mongo-data:
